<div class="{$class}" id="{$_name}">
    {delete_dash}
    {$ClientActions}
    <div class="atk-box">
        <div class="atk-row">
            <div class="atk-col-6">
                <div class="atk-box">
                    <h4 class="atk-swatch-yellow atk-padding-small">Quote discussion</h4>
                    {$crud_com_quote}
                </div>
            </div>
            <div class="atk-col-6">
                <div class="atk-box">
                    <h4 class="atk-swatch-yellow atk-padding-small">Tasks discussion</h4>
                    {$crud_comm_tasks}
                </div>
            </div>
        </div>
    </div>
    <div class="atk-box">
        <h4>My active tasks (requested by me or assigned to me)</h4>
        {$crud_active_tasks}
    </div>
    {/delete_dash}
    {$Content}
</div>
