<div class="{$class}" id="{$_name}">
    <div class="row">
        <div class="col span_6 atk-box">
            <h2>Comments to quotes</h2>
            {$crud_com_quote}
        </div>
        <div class="col span_6 atk-box">
            <h2>Comments to tasks</h2>
            {$crud_comm_tasks}
        </div>
    </div>
    <div class="atk-box">
        <h2>My active tasks (requested by me or assigned to me)</h2>
        {$crud_active_tasks}
    </div>
    <div class=""></div>
    {$Content}
</div>
