<div class="atk-cells atk-text-nowrap atk-cells-gutter">
    <div class="atk-cell atk-valign-middle atk-jackscrew atk-text-reset">
        <a href="{public}{/}">
            <img src="{public}images/logo.png{/}" alt="Agile Toolkit">
        </a>

    </div>
    <div class="atk-cell atk-valign-middle">
        {$Main_Menu}
        <div class="atk-move-right atk-cells">
            <div class="atk-cell">{$name}</div>
            <div class="atk-cell">{$SubMenu}</div>
        </div>
    </div>
</div>