<div id="{$_name}" class="page_{$_page}">

    <!--<div ng-controller="buttonSet" button-set class="action-buttons-set"></div>-->

    <div ng-controller="forms" class="forms">

        <div id="msg" class="system-msg"></div>

        <h3> Avatar</h3>
        <ng-include src="formAvatar"></ng-include>

        <h3> Personal Data Form</h3>
        <ng-include src="formPersonal"></ng-include>

        <h3> Change Password​</h3>
        <ng-include src="formPassword"></ng-include>

        <h3> Mail Settings​</h3>
        <ng-include src="formMail"></ng-include>

    </div>


    {$Content}
</div>
