<div id="{$_name}" class="page_{$_page}">
    {$bread_crumb}
    <script>
        $(function() {
            $( "#colubris_layout_fluid_reports_form_filter_withdate_date_from" ).datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat:'dd/mm/yy',
                duration:0,
                showOn:'none',
                changeMonth:true,
                changeYear:true
//            }).change(function(){
//                $('#colubris_layout_fluid_reports_form_filter_withdate').colubris().reloadForm('colubris_layout_fluid_reports_form_filter_withdate','date_from');
            });
            $( "#colubris_layout_fluid_reports_form_filter_withdate_date_to" ).datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat:'dd/mm/yy',
                duration:0,
                showOn:'none',
                changeMonth:true,
                changeYear:true
            });
        });
        $(document).ready(function() {
//            $('#colubris_layout_fluid_reports_form_filter_withdate_date_from').change(function () {
//                console.log('aaa');
//                $('#colubris_layout_fluid_reports_form_filter_withdate').colubris().reloadForm('colubris_layout_fluid_reports_form_filter_withdate','date_from');
//            });
        });
    </script>
    {$Content}
</div>
