<img src="<?template?>images/intro/development.jpg<?/?>" style="float: right" width="400"/>
<h1>Developer Control</h1>

<p>Our developer team reports all the progress they have done on the regular basis. Their reports are assigned to one of the Budgets. Developers can only report to budgets where they are allocated. Also budget must be "approved". Developers can't report time to "closed" budgets.</p>

<p>If developer (or designer) interacts with client directly, before they produce some work, they will always make sure that there is a active budget available for corresponding type of work. If no such budget exists, project manager will be involved and budget must be set up before any work can be carried out.</p>

<p>This approach allows our development team to focus on development and do not worry about administrative questions. Client can also be safe to not receive any sudden charges.</p>
