doc/dbupdates/*.ok
doc/dbupdates/*.fail
.htaccess
.*swp
*.bak
.DS_Store
config.php
deploy-config.php
composer.phar
composer.lock
/vendor/*
atk4
atk4-addons
upload
nbproject
/.idea/workspace.xml
/.idea
logs
unit_tests_config.php
phinx
phinx.yml