.atk-form fieldset .atk-form-row > label {
	width:10em;
}
.atk-form fieldset .atk-form-row > .atk-form-field {
	margin-left:12em;
}
.left {
	float:left;
}
.right {
    float:right;
}

.horizontal .atk-form-row {
	float:left;
	margin:0 0 0 20px !important;
}
.horizontal .atk-form-row > label {
    width:auto !important;
}
.horizontal .atk-form-row > .atk-form-field {
    margin-left:auto !important;
}

.quotation_requested{font-weight:bold;background-color: rgba(51, 204, 255, 0.20);}
.estimate_needed{font-weight:bold;background-color: rgba(251, 182, 170, 0.17);}
.not_estimated{font-weight:bold;background-color: rgba(247, 98, 77, 0.23);}
.estimated{font-weight:bold;background-color: rgba(102, 255, 153, 0.15);}
.estimation_approved{font-weight:bold;background-color: rgba(102, 204, 0, 0.18);}
.finished{font-weight:bold;background-color: rgba(255, 255, 255, 0.15);}

.unstarted{font-weight:bold;background-color: rgba(51, 204, 255, 0.17);}
.started{font-weight:bold;background-color: rgba(102, 255, 153, 0.19);}
.rejected{font-weight:bold;background-color: rgba(247, 98, 77, 0.15);}
.accepted{font-weight:bold;background-color: rgba(102, 204, 0, 0.15);}

.red_color{color:red;font-weight:bold;}

.lister_expander {background:#fbfbfb;}

.switcher .input-row .input-cell.expanded {width:auto;}
.switcher fieldset .atk-form-row label {float:none;}

.atk-grid-totals {background-color:#eee;}