@import "../../vendor/atk4/agiletoolkit-css/framework/css/agiletoolkit.less";
@import "atk-custom.css";
@import "dev.css";


body {
  background: #f5f6f7;
}

ul.atk-lister.discussion {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    .timestamp {
        color: #cdcdcd;
        padding: 0;
        margin: 0;
    }
  }
}