@import "../../vendor/atk4/agiletoolkit-css/framework/less/agiletoolkit.less";
@import "atk-custom.css";
@import "variables.less";
@import "dev.css";

.createViewport(
@wrapperMargin: @margin,
@colsGutter: @margin,
@cols: 12,
@viewportMinWidth:0,
@wrapperMinWidth: 1012px,
@wrapperMaxWidth: 1012px
);

@bodySize:             0.8rem;
@bodyBaseline:         1.3;
@baselineDestroyer:    0.7rem;


body {
  background: #f5f6f7;
}

ul.atk-lister.discussion {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    .timestamp {
        color: #cdcdcd;
        padding: 0;
        margin: 0;
    }
  }
}


.atk-table.atk-table-zebra tbody tr:nth-child(odd) td:not([class*='atk-swatch']) {
  background: #fcfbf9;
}


table {
  .name, .project {
    //width: 200px;
    span {
      background-color: #777777;
      color: #FFFFFF;
      padding: 1px;
      font-size: 10px;
    }
    a {
      white-space:normal;
      word-wrap: break-all;
    }
  }
  .project, .quote, .requirement {
    margin: 0 0 0 5px;
    font-size: 11px;
    color: #5b5b5b;
  }
}



.requirement-form.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 97%;
//  height: 100%;
  overflow-y: auto;
  padding: 10px;
  margin: 50px auto;
  background-color: rgb(245, 245, 245);
}











