<h4>Projects:</h4>
<div class="atk-box-small default"  ng-repeat="proj in projects track by $index"  ng-click="projectSelect(proj, $event)">
    <div class="atk-cells atk-push small">
        <div class="atk-cell atk-valign-top">
            <div class="atk-label atk-effect-info">{{$index}} (ID#{{proj.id}})</div>
        </div>
        <div class="atk-cell atk-jackscrew">
            <div class="atk-label atk-effect-warning" style="white-space: pre-wrap" ><strong>{{proj.name}}</strong></div>
        </div>
    </div>
    <div>Description: {{proj.descr}}</div>
</div>