<div class="atk-box atk-push floating-form" user-form>
    <div id="close-button" class="icon-cancel-circled close" ng-click="User.cancel()"></div>
    <div class="atk-row full-height-box atk-padding-small">
        <div class="atk-col-4">
            <div class="atk-box">
                <form class="atk-form" name="userbasic">
                    <input type="hidden" ng-model="user.id" />
                    <div class="atk-push-small">
                        <div class="atk-cell atk-valign-top">
                            <div class="atk-label atk-effect-info">ID#{{user.id}}</div>
                        </div>
                    </div>
                    <div class="atk-push-small">
                        <div class="atk-push-small">
                            <label><strong>Name:</strong></label>
                        </div>
                        <input type="text" class="atk-jackscrew" ng-model="user.name" />
                    </div>

                    <div class="atk-push-small">
                        <div class="atk-push-small">
                            <label><strong>Email:</strong></label>
                        </div>
                        <input type="text" class="atk-jackscrew" ng-model="user.email" />
                    </div>

                    <div class="atk-actions">
                        <button ng-click="User.save(user)" class="atk-swatch-green atk-button-small atk-button" >Save</button>
                        <button ng-click="User.cancel()" class="atk-swatch-yellow atk-button-small atk-button" >Cancel</button>
                        <button ng-click="User.delete()" class="atk-swatch-red atk-button-small atk-button" >Delete</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="atk-col-4">
            <ng-include src="right_list"></ng-include>
        </div>
    </div>
</div>