<div class="atk-box" right_form>
    <h4>User's Rights</h4>
    <form class="atk-form">
        <div class="atk-push-small">
            <div class="atk-cell atk-valign-top">
                <div class="atk-label atk-effect-info">ID#{{user.id}}</div>
            </div>
        </div>
        <div class="atk-push-small">
            <div class="atk-cell atk-valign-top">
                <label class="">{{right.user_id}}</label>
                <input type="text" class="atk-jackscrew" ng-model="right.user_id" />
                <!--<input ng-model="right.can_see_tasks" />-->
            </div>
        </div>
    </form>
</div>