@import url(webfonts.css);
.clear-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.clear-font {
  font-size: 0;
  line-height: 0;
}
html {
  height: 100%;
}
body {
  background: #fafafa;
  min-height: 100%;
  height: 100%;
}
#layout {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: #fff;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 950px;
  position: relative;
  z-index: 2;
}
#sidebar {
  background: #000000 url(../img/bg-textile.jpg);
  border-left: 1px solid #1d1d1d;
  color: #fff;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 14px;
  width: 199px;
  height: 100%;
  position: fixed;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 3;
}
#sidebar:before {
  content: '';
  background: #000000 url(../img/bg-textile.jpg);
  width: 3000px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 200px;
  bottom: auto;
  left: auto;
  z-index: auto;
}
#sidebar ul,
#sidebar ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#sidebar ul li + li {
  margin-top: 0.5em;
}
#sidebar .navbar {
  padding: 0 30px;
  height: 100%;
  overflow: auto;
}
#sidebar .navbar .brand {
  float: none;
  padding: 0;
  margin: 56px 0 20px 0;
  display: block;
}
#sidebar .navbar .nav.nav-list {
  border-top: 1px solid #1d1d1d;
  margin: 0;
  padding: 20px 0;
  float: none;
}
#sidebar .navbar .nav.nav-list > li {
  line-height: 1;
  float: none;
  display: block;
}
#sidebar .navbar .nav.nav-list > li > a {
  background: none;
  color: #fff;
  text-shadow: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  white-space: nowrap;
}
#sidebar .navbar .nav.nav-list > li > a span {
  font-size: 80%;
  font-weight: 300;
  color: #7c7c7c;
  position: relative;
  top: -0.1em;
  right: auto;
  bottom: auto;
  left: 0.5em;
  z-index: auto;
}
#sidebar .navbar .nav.nav-list > li > a:hover {
  color: #b3b3b3;
}
#sidebar .navbar .nav.nav-list > li.active a {
  color: #7c7c7c;
}
#sidebar .navbar .nav.nav-list > li.divider {
  background: #1d1d1d;
  border: none;
  margin: 20px 0;
}
#sidebar .navbar .nav.nav-list .search {
  margin-top: 20px;
  width: 140px;
  position: relative;
}
#sidebar .navbar .nav.nav-list .search input {
  margin: 0;
}
#sidebar .navbar .nav.nav-list .search input[type=text] {
  background: #1d1d1d;
  border: 1px solid #303030;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #7c7c7c;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  padding: 10px 32px 10px 12px;
  width: 94px;
  height: 16px;
}
#sidebar .navbar .nav.nav-list .search input[type=text]::-webkit-input-placeholder {
  color: #7c7c7c;
}
#sidebar .navbar .nav.nav-list .search input[type=text]::-moz-placeholder {
  color: #7c7c7c;
}
#sidebar .navbar .nav.nav-list .search input[type=text]:-ms-input-placeholder {
  color: #7c7c7c;
}
#sidebar .navbar .nav.nav-list .search input[type=text]:focus {
  background: #282828;
  border-color: #303030;
  color: #fff;
}
#sidebar .navbar .nav.nav-list .search input[type=text]:focus + input[type=submit] {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#sidebar .navbar .nav.nav-list .search input[type=submit] {
  background-color: transparent;
  border: none;
  font-size: 0;
  line-height: 0;
  filter: alpha(opacity=30);
  -khtml-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  position: absolute;
  top: 11px;
  right: 10px;
  bottom: auto;
  left: auto;
  z-index: auto;
}
#sidebar .account {
  display: none;
}
#main {
  background: #ffffff;
  margin-left: 200px;
}
#main .nav-categories.navbar {
  border-bottom: 2px solid #0f0f0f;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 13px;
  line-height: 40px;
  padding: 0 40px;
  margin: 0;
  zoom: 1;
}
#main .nav-categories.navbar:before,
#main .nav-categories.navbar:after {
  display: table;
  content: "";
  zoom: 1;
}
#main .nav-categories.navbar:after {
  clear: both;
}
#main .nav-categories.navbar .nav-collapse .nav li {
  line-height: 40px;
}
#main .nav-categories.navbar .nav-collapse .nav li a {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #000;
  text-shadow: none;
  padding: 0;
}
#main .nav-categories.navbar .nav-collapse .nav li a:hover {
  color: #777;
}
#main .nav-categories.navbar .nav-collapse .nav li.active a {
  color: #a3a3a3;
  position: relative;
}
#main .nav-categories.navbar .nav-collapse .nav li.active a:after {
  background: url(../img/toolbar-current.png) no-repeat;
  margin-left: -7px;
  width: 13px;
  height: 9px;
  content: '';
  position: absolute;
  top: auto;
  right: auto;
  bottom: -2px;
  left: 50%;
  z-index: auto;
}
#main .nav-categories.navbar .nav-collapse .nav li + li {
  margin-left: 1.5em;
}
.pt-sans-caption {
  font-family: 'PT Sans Caption', sans-serif;
}
.times {
  font-family: 'Times New Roman', 'Times', serif;
}
body {
  font: 16px/1.35 'Times New Roman', 'Times', serif;
}
p {
  margin-bottom: 1.2em;
}
p:last-child {
  margin-bottom: 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  margin: 1em 0 0.5em 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}
a {
  color: #7c7c7c;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a.dynamic {
  border-bottom: 1px dotted #7c7c7c;
}
a.dynamic:hover {
  color: #000000;
}
.active,
.active a {
  cursor: default;
}
.section-title {
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section-title,
.section-title a {
  color: #696969;
}
.meta-post {
  font-size: 13px;
}
.meta-post .sep {
  margin: 0 0.3em;
}
.meta-post,
.meta-post a {
  color: #a8a8a8 !important;
}
.highlight {
  background: #fffbbb;
}
.icon {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  display: inline-block;
}
.icon.s-16 {
  width: 16px;
  height: 16px;
}
.icon.s-16.white.i-fb {
  background-image: url(../img/icon-white-16-fb.png);
}
.icon.s-16.white.i-search {
  background-image: url(../img/icon-white-16-search.png);
}
.icon.s-16.white.i-tw {
  background-image: url(../img/icon-white-16-tw.png);
}
.icon.s-16.white.i-vk {
  background-image: url(../img/icon-white-16-vk.png);
}
.icon.s-16.black.i-close {
  background-image: url(../img/icon-black-16-close.png);
}
.icon.s-16.black.i-search {
  background-image: url(../img/icon-black-16-search.png);
}
.icon.s-30 {
  width: 30px;
  height: 30px;
}
.icon.s-30.circle.i-ok {
  background-image: url(../img/icon-circle-30-ok.png);
}
.icon.s-30.circle.i-vk {
  background-image: url(../img/icon-circle-30-vk.png);
}
.icon.s-30.circle.i-facebook {
  background-image: url(../img/icon-circle-30-facebook.png);
}
.icon.s-30.circle.i-twitter {
  background-image: url(../img/icon-circle-30-twitter.png);
}
.icon.s-30.circle.i-gplus {
  background-image: url(../img/icon-circle-30-gplus.png);
}
.icon.s-30.circle.i-mailru {
  background-image: url(../img/icon-circle-30-mailru.png);
}
.icon.s-30.circle.i-lj {
  background-image: url(../img/icon-circle-30-lj.png);
}
.icon.s-30.circle.i-email {
  background-image: url(../img/icon-circle-30-email.png);
}
#content {
  width: 100%;
  overflow: hidden;
}
#content > .section {
  border-top: 1px solid #ededed;
  padding: 30px 40px;
}
#content > .section:first-child .section-title {
  display: none;
}
#content > .section.full-article {
  font-size: 16px;
  line-height: 1.35;
  position: relative;
}
#content > .section.full-article h1 {
  margin: 0 0 0.4em 0;
  padding-right: 3em;
}
#content > .section.full-article .font-adjust {
  position: absolute;
  top: 35px;
  right: 40px;
  bottom: auto;
  left: auto;
  z-index: auto;
}
#content > .section.full-article .font-adjust a {
  background: #fff;
  border: 1px solid #e6e6e6;
  color: #c9c9c9;
  line-height: 20px;
  padding: 5px 10px;
  float: left;
  position: relative;
}
#content > .section.full-article .font-adjust a:hover {
  border-color: #a3a3a3;
  color: #a3a3a3;
  z-index: 2;
}
#content > .section.full-article .font-adjust a.smaller {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  font-size: 14px !important;
}
#content > .section.full-article .font-adjust a.smaller span {
  position: relative;
  top: 0.25em;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: auto;
}
#content > .section.full-article .font-adjust a.bigger {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  font-size: 20px !important;
  margin-left: -1px;
}
#content > .section.full-article .meta-post {
  font-size: 0.9em;
  margin: 0 0 1.5em 0;
}
#content > .section.full-article img.article-image {
  margin: 0.4em 1em 0.5em 0;
  float: left;
}
#content > .section.full-article .action-bar {
  font-size: 0;
  zoom: 1;
  margin-top: 30px;
}
#content > .section.full-article .action-bar:before,
#content > .section.full-article .action-bar:after {
  display: table;
  content: "";
  zoom: 1;
}
#content > .section.full-article .action-bar:after {
  clear: both;
}
#content > .section.full-article .action-bar .btn + .btn {
  margin-left: 10px;
}
#content > .section.full-article .action-bar .actions #article-share + .popover {
  max-width: 320px;
  white-space: nowrap;
}
#content > .section.full-article .action-bar .actions #article-share + .popover .socials a + a {
  display: inline-block;
}
#content > .section.full-article .action-bar .actions #article-share + .popover .copy-link {
  zoom: 1;
}
#content > .section.full-article .action-bar .actions #article-share + .popover .copy-link:before,
#content > .section.full-article .action-bar .actions #article-share + .popover .copy-link:after {
  display: table;
  content: "";
  zoom: 1;
}
#content > .section.full-article .action-bar .actions #article-share + .popover .copy-link:after {
  clear: both;
}
#content > .section.full-article .action-bar .actions #article-share + .popover .copy-link * {
  margin: 0;
  float: left;
}
#content > .section.full-article .action-bar .actions #article-share + .popover .copy-link input[type=text] {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
  padding: 6px;
  margin-right: 5px;
  width: 140px;
}
#content > .section.full-article .action-bar .likes {
  position: relative;
  top: 5px;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: auto;
}
#content > .section.full-article .action-bar .likes > * {
  margin-left: 20px;
}
#content > .section.full-article .action-bar .likes .fb-like {
  margin-left: 0;
}
#content > .section.full-article .action-bar .pull-right + .pull-right {
  margin-right: 20px;
}
#content > .section.related-articles {
  background: #fafafa;
}
@media (max-width: 480px) {
  #content > .section {
    padding: 20px !important;
  }
}
.articles .media {
  margin-top: 0;
}
.articles .media .pull-left {
  font-size: 0;
  margin-right: 20px;
}
.articles .media .pull-left .media-object {
  width: 120px;
  height: 90px;
  position: relative;
  top: 0.2em;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: auto;
}
.articles .media .media-body .media-heading {
  font-size: 20px;
  line-height: 1.15;
  max-height: 65px;
}
.articles .media .media-body .media-heading a {
  color: #000000;
}
.articles .media .media-body .media-heading a:hover {
  color: #595959;
}
.articles .media .media-body p {
  color: #595959;
  margin: 0.5em 0 0 0;
  max-height: 63px;
}
.articles .media .media-body .meta-post {
  line-height: 1;
  margin-top: 0.8em;
}
.articles .media + .media {
  border-top: 1px solid #ededed;
  padding-top: 15px;
  margin-top: 15px;
}
.articles .media.read,
.articles .media.read a {
  color: #a8a8a8;
}
.articles .media.featured .pull-left {
  margin-right: 20px;
}
.articles .media.featured .pull-left .media-object {
  width: 320px;
  height: 207px;
}
.articles .media.featured .media-body .media-heading {
  font-size: 28px;
  margin-top: 0.15em;
  margin-bottom: 0.45em;
  max-height: 100px;
}
.articles .media.featured .media-body p {
  max-height: 80px;
}
.articles .media.featured .media-body .meta-post {
  margin-top: 0.9em;
}
.articles .media.small .pull-left {
  margin-right: 15px;
}
.articles .media.small .media-body .media-heading {
  font-size: 18px;
  line-height: 1.15;
  margin-top: 0.15em;
}
.articles .media.tiny .pull-left {
  margin-right: 12px;
}
.articles .media.tiny .pull-left .media-object {
  width: 80px;
  max-height: 60px;
}
.articles .media.tiny .media-body .media-heading {
  font-size: 14px;
  margin: 0;
  max-height: 50px;
}
.articles .media.tiny .media-body .meta-post {
  font-size: 11px;
  margin-top: 0.45em;
}
@media (max-width: 768px) {
  .articles .media.tiny .media-body .media-heading {
    font-size: 20px;
  }
  .articles .media.tiny .media-body .meta-post {
    font-size: 14px;
    margin-top: 0.5em;
  }
  .articles .media.tiny + .tiny {
    margin-top: 15px !important;
  }
}
.articles.row-fluid > .span6:nth-last-of-type(2n) {
  margin-left: 0;
}
.articles.row-fluid > .span6:first-child,
.articles.row-fluid > .span6:first-child + .span6 {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.articles.row-fluid > .span4:first-child,
.articles.row-fluid > .span4:first-child + .span4,
.articles.row-fluid > .span4:first-child + .span4 + .span4 {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.page-title-wrapper {
  padding-top: 20px;
  zoom: 1;
}
.page-title-wrapper:before,
.page-title-wrapper:after {
  display: table;
  content: "";
  zoom: 1;
}
.page-title-wrapper:after {
  clear: both;
}
.page-title-wrapper .page-title.navbar {
  background: #fff;
  margin: 0;
  z-index: 3;
  zoom: 1;
}
.page-title-wrapper .page-title.navbar:before,
.page-title-wrapper .page-title.navbar:after {
  display: table;
  content: "";
  zoom: 1;
}
.page-title-wrapper .page-title.navbar:after {
  clear: both;
}
.page-title-wrapper .page-title.navbar .nav {
  margin: 0;
  padding: 10px 40px;
  zoom: 1;
}
.page-title-wrapper .page-title.navbar .nav:before,
.page-title-wrapper .page-title.navbar .nav:after {
  display: table;
  content: "";
  zoom: 1;
}
.page-title-wrapper .page-title.navbar .nav:after {
  clear: both;
}
.page-title-wrapper .page-title.navbar .nav > li {
  display: none;
  float: left;
}
.page-title-wrapper .page-title.navbar .nav > li > a {
  background: none;
  color: #696969;
  text-shadow: none;
  padding: 0;
}
.page-title-wrapper .page-title.navbar .nav > li.active {
  background: none;
  display: block;
}
.page-title-wrapper .page-title.navbar .nav > li.active a {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions {
  text-transform: none;
  display: block;
  float: right;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: auto;
}
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions select {
  margin: -5px 0 0 0;
  width: 100%;
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 2;
  display: none;
}
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions > a {
  background: none;
  border-bottom: 1px dotted #696969;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 12px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
}
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  margin: 20px -20px 0 0;
  padding: 20px;
  width: 460px;
  white-space: nowrap;
}
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu ul,
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu ul {
  display: inline-block;
}
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu ul li {
  font-size: 16px;
  white-space: nowrap;
}
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu ul li a {
  color: #000000;
}
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu ul li a:hover {
  color: #a3a3a3;
}
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu ul li + li {
  margin-top: 0.4em;
}
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu ul li.current a {
  color: #a3a3a3;
  cursor: default;
}
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu:after {
  right: 58px !important;
}
.page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu:before {
  right: 57px !important;
}
.page-title-wrapper .page-title.navbar.affix {
  -webkit-box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
}
#scrollUp {
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 0 !important;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
#scrollUp:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#scrollUp:hover span {
  background: #e1e1e1;
}
#scrollUp span {
  background: ;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: auto;
}
#scrollUp span:after {
  background: url(../img/icon-black-16-arrow.png) no-repeat center center;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  content: '';
  position: absolute;
  top: 12px;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: auto;
}
#scrollUp span:before {
  text-align: center;
  content: 'Наверх';
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  position: absolute;
  top: 32px;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
}
.popover.popover-search {
  background: #fff;
  padding: 0;
  width: 400px;
}
.popover.popover-search .content {
  padding: 0;
  margin: 5px 0;
  overflow: hidden;
}
.popover.popover-search .content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.popover.popover-search .content ul li a {
  color: #696969;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
  padding: 5px 10px;
  display: block;
  white-space: nowrap;
}
.popover.popover-search .content ul li:hover {
  background: #ededed;
}
.popover.popover-search .content ul li.divider {
  background: #ededed;
  margin: 5px 0;
  height: 1px;
}
.popover.popover-search .content ul li.all a {
  text-align: center;
}
.popover.popover-search .arrow {
  display: none;
}
ul.login-options,
ul.login-options li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.login-options li {
  font-size: 13px;
  display: block;
}
ul.login-options li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'PT Sans Caption', sans-serif;
  line-height: 1;
  color: #fff;
  text-align: left;
  line-height: 42px;
  padding: 0 1em;
  height: 40px;
  display: block;
}
ul.login-options li a .icon {
  margin-right: 1em;
  position: relative;
  top: 0.9em;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: auto;
  float: left;
}
ul.login-options li + li {
  margin-top: 10px;
}
ul.login-options li.vk a {
  background: #4e7299;
}
ul.login-options li.vk a:hover {
  background: #577fa9;
}
ul.login-options li.facebook a {
  background: #00549f;
}
ul.login-options li.facebook a:hover {
  background: #0061b9;
}
ul.login-options li.twitter a {
  background: #28aae1;
}
ul.login-options li.twitter a:hover {
  background: #3eb3e4;
}
.acResults {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  padding: 10px 0 0 0;
  width: 300px;
  overflow: hidden;
  position: fixed !important;
}
.acResults ul,
.acResults ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.acResults ul li {
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 3px 10px;
}
.acResults ul li a {
  display: block;
}
.acResults ul li.all {
  text-align: center;
  border-top: 1px solid #ededed;
  margin-top: 10px;
  padding: 0;
}
.acResults ul li.all a {
  padding: 10px 0;
}
.acLoading {
  background: url('../img/indicator.gif') right center no-repeat;
}
.acSelect {
  background-color: #ededed;
}
.box {
  padding: 20px;
}
.box .section-title {
  margin-bottom: 1em;
}
.box + .box {
  margin-top: 20px;
}
.box + .box.empty {
  margin-top: 10px;
}
.box.gray {
  background: #fafafa;
}
.dropdown-menu,
.popover {
  background: #fafafa;
  border-color: #cfcfcf;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.dropdown-menu:after {
  border-bottom-color: #fafafa !important;
}
.popover .arrow {
  border-bottom-color: #cfcfcf !important;
}
.popover .arrow:after {
  border-bottom-color: #fafafa !important;
}
.form a {
  text-decoration: underline;
}
.form.form-horizontal .control-group {
  min-height: 40px;
  min-width: 300px;
  margin: 0;
  zoom: 1;
}
.form.form-horizontal .control-group:before,
.form.form-horizontal .control-group:after {
  display: table;
  content: "";
  zoom: 1;
}
.form.form-horizontal .control-group:after {
  clear: both;
}
.form.form-horizontal .control-group .control-label {
  color: #696969;
  font-size: 13px;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  margin-right: 20px;
  width: 60px;
  height: 40px;
  position: relative;
  top: 0.3em;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: auto;
}
.form.form-horizontal .control-group .controls {
  line-height: 40px;
  margin-left: 0;
  position: relative;
  display: inline-block;
}
.form.form-horizontal .control-group .controls input[type=text],
.form.form-horizontal .control-group .controls input[type=password],
.form.form-horizontal .control-group .controls textarea {
  width: 200px;
}
.form.form-horizontal .control-group .controls .checkbox,
.form.form-horizontal .control-group .controls .radio {
  line-height: 1;
  font-size: 20px;
  padding-left: 25px;
}
.form.form-horizontal .control-group .controls .checkbox input,
.form.form-horizontal .control-group .controls .radio input {
  margin-left: -25px;
}
.form.form-horizontal .control-group .controls .checkbox + *,
.form.form-horizontal .control-group .controls .radio + * {
  margin-top: 0.7em;
}
.form.form-horizontal .control-group .controls .captcha {
  margin-bottom: 0.5em;
}
.form.form-horizontal .control-group .controls .field-edit {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 13px;
}
.form.form-horizontal .control-group .controls .value {
  font-size: 20px;
}
.form.form-horizontal .control-group .controls .value .field-edit {
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  margin-left: 0.5em;
  position: relative;
  top: 0.2em;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: auto;
}
.form.form-horizontal .control-group .controls .value .field-edit:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.form.form-horizontal .control-group .controls .help {
  color: #7c7c7c;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.4;
  margin: 0 0 0 20px;
  display: inline-block;
  float: none;
  position: absolute;
  top: 1em;
  right: auto;
  bottom: auto;
  left: 100%;
  z-index: auto;
}
.form.form-horizontal .control-group .control-label + .controls .checkbox:first-child,
.form.form-horizontal .control-group .control-label + .controls .radio:first-child {
  margin-top: 0.6em;
}
.form.form-horizontal .control-group + .control-group {
  margin: 10px 0 0 0;
}
.form.form-horizontal .control-group.has-error input {
  border-color: #FF6464;
  color: #ec5b5b;
}
.form.form-horizontal .control-group.has-error input:focus {
  color: #000;
}
.form.form-horizontal .control-group.has-error .error {
  color: #ec5b5b;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.2;
  margin-top: 0.7em;
}
.form.form-horizontal .control-group.buttons {
  padding-left: 80px;
  min-width: 220px;
}
.modal {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: -360px;
  width: 720px;
  position: absolute;
}
.modal.fade.in {
  top: 7%;
}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  text-align: left;
  padding: 22.5px;
}
.modal .modal-header h2 {
  font-weight: normal;
  margin: 0;
}
.modal .modal-header .close {
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  margin: 0;
  position: relative;
  top: 0.3em;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: auto;
}
.modal .modal-header .close:hover {
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.modal .modal-body {
  overflow: auto !important;
}
.modal .modal-body .form {
  margin: 0;
}
.modal .modal-footer {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal.modal-signin .modal-body .login-options,
.modal.modal-signin .modal-body .or,
.modal.modal-signin .modal-body .form {
  float: left;
}
.modal.modal-signin .modal-body .login-options {
  width: 220px;
}
.modal.modal-signin .modal-body .or {
  text-align: center;
  height: 140px;
  width: 154px;
  position: relative;
}
.modal.modal-signin .modal-body .or span {
  background: #fff;
  color: #696969;
  line-height: 40px;
  font-size: 17px;
  text-align: center;
  margin: -20px 0 0 -25px;
  height: 40px;
  width: 50px;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: 2;
}
.modal.modal-signin .modal-body .or:after {
  background: #ededed;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: 1;
  content: '';
}
.modal.modal-signin .modal-body .form {
  width: 300px;
}
.modal.modal-signin .modal-body .form .buttons a.forgot {
  float: right;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  position: relative;
  top: 0.75em;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: auto;
}
@media (max-width: 767px) {
  .modal {
    margin: 0 !important;
    width: 90% !important;
    max-height: 90% !important;
    position: fixed !important;
    top: 5% !important;
    left: 5% !important;
  }
  .modal.modal-signin .modal-body {
    max-height: auto;
    overflow: auto;
  }
  .modal.modal-signin .modal-body .login-options,
  .modal.modal-signin .modal-body .or,
  .modal.modal-signin .modal-body .form {
    float: none;
    width: 100%;
  }
  .modal.modal-signin .modal-body .or {
    margin: 15px 0;
    height: 40px;
    width: 100%;
  }
  .modal.modal-signin .modal-body .or:after {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 1;
  }
  .modal.modal-signin .modal-body .form .control-group {
    min-width: 0;
    min-height: 0;
  }
  .modal.modal-signin .modal-body .form .control-group .control-label {
    float: left;
  }
  .modal.modal-signin .modal-body .form .control-group .controls {
    margin-left: 80px;
    display: block;
  }
  .modal.modal-signin .modal-body .form .control-group .controls input[type=text],
  .modal.modal-signin .modal-body .form .control-group .controls input[type=password] {
    width: 100% !important;
    height: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .modal.modal-signin .modal-body .form .control-group.buttons .controls {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .modal .modal-header,
  .modal .modal-body,
  .modal .modal-footer {
    padding: 15px;
  }
  .modal .modal-body .form .control-group {
    min-width: 0;
  }
  .modal .modal-body .form .control-group .control-label,
  .modal .modal-body .form .control-group .controls {
    line-height: 1;
    min-height: 0;
    height: auto;
  }
  .modal .modal-body .form .control-group .control-label {
    margin-bottom: 10px;
    display: block;
    float: none;
  }
  .modal .modal-body .form .control-group .controls .help {
    width: 100% !important;
    margin: 7px 0 0 0;
    position: static !important;
  }
  .modal .modal-body .form .control-group.buttons {
    padding-left: 0;
  }
  .modal .modal-body .form .control-group + .control-group {
    margin-top: 20px;
  }
  .modal.modal-signin .modal-body .form .control-group .control-label {
    float: none;
  }
  .modal.modal-signin .modal-body .form .control-group .controls {
    margin-left: 0;
  }
  .modal.modal-signin .modal-body .form .control-group.buttons {
    padding-left: 0;
  }
}
@media (max-height: 768px) {
  .modal .modal-body {
    max-height: 480px;
  }
  .modal.has-footer .modal-body {
    max-height: 405px;
  }
}
@media (max-height: 600px) {
  .modal .modal-body {
    max-height: 300px;
  }
  .modal.has-footer .modal-body {
    max-height: 225px;
  }
}
@media (max-device-height: 568px) {
  .modal .modal-body {
    max-height: 436px;
  }
  .modal.has-footer .modal-body {
    max-height: 361px;
  }
}
@media (max-height: 480px) {
  .modal .modal-body {
    max-height: 276px;
  }
  .modal.has-footer .modal-body {
    max-height: 201px;
  }
}
@media (max-height: 320px) {
  .modal .modal-body {
    max-height: 136px;
  }
  .modal.has-footer .modal-body {
    max-height: 61px;
  }
}
input[type=text],
input[type=password],
textarea {
  background: #f5f5f5;
  border: 1px solid #cfcfcf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #000;
  font-size: 18px;
  font-family: 'Times New Roman', 'Times', serif;
  padding: 9px;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  background: #fff;
}
.btn {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDFkMWQxIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background: -moz-linear-gradient(top, #eaeaea 0%, #d1d1d1 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #d1d1d1));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #eaeaea 0%, #d1d1d1 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #eaeaea 0%, #d1d1d1 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #eaeaea 0%, #d1d1d1 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #eaeaea 0%, #d1d1d1 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d1d1d1',GradientType=0 );
  /* IE6-8 */

  border-color: #999999;
  -webkit-box-shadow: 0 1px 0 #ffffff inset, 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 #ffffff inset, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 #ffffff inset, 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-shadow: 0 1px 0 #fff;
  line-height: 1;
  padding: 9px 13px;
}
:root .btn {
  filter: none;
}
.btn:hover,
.btn:focus {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDlkOWQ5IiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background: -moz-linear-gradient(top, #f2f2f2 0%, #d9d9d9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #d9d9d9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f2f2f2 0%, #d9d9d9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f2f2f2 0%, #d9d9d9 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f2f2f2 0%, #d9d9d9 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f2f2f2 0%, #d9d9d9 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d9d9d9',GradientType=0 );
  /* IE6-8 */

}
:root .btn:hover,
:root .btn:focus {
  filter: none;
}
@media (max-width: 1100px) {
  #layout.container {
    margin: 0;
  }
  #layout.container #sidebar {
    border-left: none;
  }
}
@media (max-width: 1023px) {
  #scrollUp {
    display: none !important;
  }
}
@media (max-width: 979px) {
  html,
  body {
    min-width: 0;
  }
  body #layout {
    width: auto;
  }
  body #layout #main {
    margin-left: 0;
    width: 100%;
    /*.navbar.nav-categories*/
  
  }
  body #layout #main .navbar.nav-categories {
    background: #eaeaea;
    margin: 0;
    padding: 0;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    zoom: 1;
  }
  body #layout #main .navbar.nav-categories:before,
  body #layout #main .navbar.nav-categories:after {
    display: table;
    content: "";
    zoom: 1;
  }
  body #layout #main .navbar.nav-categories:after {
    clear: both;
  }
  body #layout #main .navbar.nav-categories .btn:after {
    background-image: url(../img/glyphicons-halflings.png);
    margin-top: -8px;
    width: 16px;
    height: 16px;
    content: '';
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: auto;
  }
  body #layout #main .navbar.nav-categories .btn {
    background: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 2;
  }
  body #layout #main .navbar.nav-categories .btn:after {
    background-position: -288px -120px;
    right: 28px;
  }
  body #layout #main .navbar.nav-categories .btn.collapsed:after {
    background-position: -313px -119px;
  }
  body #layout #main .navbar.nav-categories .nav-collapse {
    min-height: 40px;
  }
  body #layout #main .navbar.nav-categories .nav-collapse .nav {
    margin: 40px 0 0 0;
    float: none;
  }
  body #layout #main .navbar.nav-categories .nav-collapse .nav li {
    margin: 0;
  }
  body #layout #main .navbar.nav-categories .nav-collapse .nav li a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #f7f7f7;
    color: #696969;
    line-height: 40px;
    text-shadow: none;
    padding: 0 20px;
    margin: 0;
    height: 40px;
  }
  body #layout #main .navbar.nav-categories .nav-collapse .nav li a:hover {
    background: #eaeaea;
  }
  body #layout #main .navbar.nav-categories .nav-collapse .nav li + li {
    border-top: 1px solid #eaeaea;
  }
  body #layout #main .navbar.nav-categories .nav-collapse .nav li.active {
    background: none;
    width: 100%;
    height: 40px;
    position: absolute;
    top: -40px;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
  }
  body #layout #main .navbar.nav-categories .nav-collapse .nav li.active a {
    background: #fff;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
    color: #000000;
  }
  body #layout #main .navbar.nav-categories .nav-collapse .nav li.active a:after {
    display: none;
  }
  body #layout #main .navbar.nav-categories .nav-collapse .nav li.active a:before {
    background-position: -288px 0;
    left: 20px;
  }
  body #layout #main .navbar.nav-categories .nav-collapse .nav.account {
    display: none;
  }
  body #layout #sidebar {
    padding: 15px 0;
    height: auto;
    width: 100%;
    position: static;
  }
  body #layout #sidebar .account {
    display: block;
  }
  body #layout #sidebar .brand img {
    width: 120px;
  }
  body #layout #sidebar .navbar {
    margin: 0;
    padding: 0 15px;
  }
  body #layout #sidebar .navbar .btn-navbar {
    background: #222;
    border-color: #000;
    font-size: 0;
    line-height: 0;
    width: 14px;
    height: 14px;
    margin: 0 0 0 7.5px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
  }
  body #layout #sidebar .navbar .btn-navbar .icon-bar {
    width: 14px;
  }
  body #layout #sidebar .navbar .nav-collapse .nav {
    margin-top: 15px;
    padding: 15px 0 0 0;
    float: left;
    width: 60%;
  }
  body #layout #sidebar .navbar .nav-collapse .nav + .nav {
    width: 40%;
  }
  body #layout #sidebar .navbar .nav-collapse .nav + .nav .search {
    width: 100%;
  }
  body #layout #sidebar .navbar .nav-collapse .nav + .nav .search input[type=text] {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    line-height: 36px;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 36px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  body #layout #sidebar .navbar .brand {
    float: left;
    padding: 0;
    margin: 0;
  }
  body #layout #sidebar:before {
    display: none;
  }
  body #layout .page-title-wrapper {
    padding: 0;
  }
  body #layout .page-title-wrapper .page-title.navbar .nav {
    padding: 15px;
  }
  body #layout .page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu {
    margin-right: 0;
  }
  body #layout .page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu:before {
    right: 37px !important;
  }
  body #layout .page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions .dropdown-menu:after {
    right: 38px !important;
  }
  body #layout #content > .section {
    padding: 30px 15px;
  }
  body #layout #scrollUp {
    margin-left: 0;
    left: 930px;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  body #scrollUp {
    display: none;
  }
  body .page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions > a {
    pointer-events: none;
  }
  body .page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions > ul {
    display: none !important;
  }
  body .page-title-wrapper .page-title.navbar .nav > li.dropdown.select-regions select {
    display: block;
  }
  body #main .articles .media .media-body h2 {
    font-weight: normal;
  }
  body #main .articles .media .media-body p {
    display: none;
  }
}
@media (max-width: 568px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.2em;
  }
  #sidebar .navbar .nav-collapse .nav {
    margin: 0 !important;
    padding: 20px 0 !important;
    width: 100% !important;
    float: none !important;
  }
  #sidebar .navbar .nav-collapse .nav:first-child {
    margin-top: 20px !important;
  }
  #sidebar .navbar .nav-collapse .nav:last-child {
    padding-bottom: 0 !important;
  }
  #content .page-title-wrapper {
    padding: 0;
  }
  #content .page-title-wrapper .page-title.navbar .nav {
    margin: 0;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  #content .articles .media .media-body h2 {
    font-size: 18px;
    font-weight: normal;
  }
  #content .articles .media .pull-left {
    display: none;
  }
  #content .articles .media + .media {
    margin-top: 10px;
    padding-top: 10px;
  }
  #content .section.full-article h1 {
    width: 100%;
  }
  #content .section.full-article img.article-image {
    margin: 0 0 1em 0;
    width: 100%;
    float: none;
  }
  #content .section.full-article .font-adjust {
    display: none;
  }
  #content .section.full-article .action-bar {
    zoom: 1;
  }
  #content .section.full-article .action-bar:before,
  #content .section.full-article .action-bar:after {
    display: table;
    content: "";
    zoom: 1;
  }
  #content .section.full-article .action-bar:after {
    clear: both;
  }
  #content .section.full-article .action-bar > * {
    float: none;
    display: inline-block;
  }
  #content .section.full-article .action-bar > *.likes {
    float: left;
    margin-top: 10px;
    width: 100%;
  }
  #content .section.full-article .action-bar > *.actions {
    margin-left: 10px;
  }
}
body  {
      overflow: hidden;
}