<h4>Comments:</h4>
<div class="atk-box-small" ng-repeat="comm in comments track by $index">
    <div class="atk-push-small">
        <span class="atk-label atk-effect-info">{{$index}} (#{{comm.id}})</span>
        <span class="atk-label">
            <img src="{{comm.user_avatar_thumb}}" class="requirement-avatar" alt="Avatar" />
        </span>
        <span class="atk-label atk-effect-warning">
            <strong class="">
                {{comm.user}}
            </strong> says:
        </span>
    </div>
    <div editable-textarea="comm.text" onaftersave="Comment.save(comm)">{{comm.text}}</div>
</div>

<div class="atk-box-small">
    <form class="atk-form">
        <input type="hidden" ng-model="comm.id" />
        <div class="atk-push-small">
            <textarea type="text" class="atk-jackscrew" ng-model="comm.name"></textarea>
        </div>

    </form>
</div>
