<h4>Comments:</h4>
<div class="atk-box-small" ng-repeat="comm in comments track by $index" style="position: relative">
    <div id="delete-comment-button" class="icon-cancel-circled delete-comment" ng-click="Comment.delete(comm.id)" style="{{comm.allow_del_css}}"></div>
    <div class="atk-push-small">
        <span class="atk-label atk-effect-info">{{$index+1}} (#{{comm.id}})</span>
        <span class="atk-label">
            <img src="{{comm.user_avatar_thumb}}" class="requirement-avatar" alt="Avatar" />
        </span>
        <span class="atk-label atk-effect-warning">
            <strong class="">
                {{comm.user}}
            </strong> says:
        </span>
    </div>
    <div editable-textarea="comm.text" onaftersave="Comment.save(comm)">{{comm.text}}</div>
    <div><a ng-href="{{comm.file_thumb}}">file</a></div>
</div>

<div class="atk-box-small" id="comment_view">
    <form class="atk-form">
        <input type="hidden" ng-model="comm.id" />
        <input type="hidden" ng-model="comm.user_id" />
        <div class="atk-push-small">
            <textarea type="text" class="atk-jackscrew" ng-model="comm.text"></textarea>
        </div>
        <div class="atk-actions">
            <button ng-click="Comment.save(comm,reqv.id)" class="atk-swatch-green atk-button-small atk-button" >Add</button>
        </div>

    </form>
</div>

