<div class="atk-box atk-push ">
    <div class="atk-table atk-table-bordered">
        <table>
            <thead>
            <tr class="atk-swatch-blue">
                <th>Order</th>
                <th>Requirement</th>
                <th>Estimate</th>
                <th>Is included</th>
                <th>Is deleted</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reqv in requirements track by $index">
                <td>{{$index}}</td>
                <td>
                   <div class="atk-action">
                       <span class="atk-label atk-effect-info">Req.#{{reqv.id}}</span>
                       <span class="atk-label atk-effect-warning"><strong>{{reqv.name}}</strong></span>
                   </div>
                    <div class="atk-action">
                        <span>Descr: {{reqv.descr}}</span>
                    </div>
                    <div class="atk-action atk-size-milli">
                        <span>Project name: {{reqv.project_name}}</span>
                    </div>
                    <div class="atk-action atk-size-milli">
                        <span>User: {{reqv.user}}</span>
                    </div>
                </td>
                <td>{{reqv.estimate}}</td>
                <td>{{reqv.is_included}}</td>
                <td>{{reqv.is_deleted}}</td>
                <td class="atk-text-nowrap">
                    <button class="atk-button" ng-click="Requirement.edit($index)">Edit</button>
                    <button class="atk-button atk-effect-danger" ng-click="Requirement.remove($index)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>