<div class="atk-box atk-push ">
    <div class="atk-table atk-table-bordered">
        <table>
            <thead>
            <tr>
                <th>Order</th>
                <th>Id</th>
                <th>Name</th>
                <th>User</th>
                <th>Descr</th>
                <th>Estimate</th>
                <th>Is included</th>
                <th>Is deleted</th>
                <th>Project Id</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reqv in requirements track by $index">
                <td>{{$index}}</td>
                <td>{{reqv.id}}</td>
                <td>{{reqv.name}}</td>
                <td>{{reqv.user}}</td>
                <td>{{reqv.descr}}</td>
                <td>{{reqv.estimate}}</td>
                <td>{{reqv.is_included}}</td>
                <td>{{reqv.is_deleted}}</td>
                <td>{{reqv.project_id}}</td>
                <td class="atk-text-nowrap">
                    <button class="atk-button" ng-click="Requirement.edit($index)">Edit</button>
                    <button class="atk-button atk-effect-danger" ng-click="Requirement.remove($index)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>