<div class="atk-box atk-push ">
    <div class="atk-push-small">
        <button class="atk-button atk-effect-success" ng-click="Requirement.showForm()">Add Requirement</button>
    </div>
    <div class="atk-table atk-table-bordered">
        <table>
            <thead>
            <tr class="atk-swatch-blue">
                <th>#</th>
                <th></th>
                <th>Info</th>
                <th>Estimate</th>
                <th>{{requirements.spent_time_cost_text}}</th>
                <!--<th>Deleted</th>-->
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rreqv in requirements track by $index"  is-included class=" {{rreqv.css.is_active}}">
                <td>{{$index+1}}</td>
                <td>
                    <div class="toggle_is_included {{rreqv.css.is_active}} {{rreqv.css.can_toggle}}" ng-click="toggleIsIncluded(rreqv)">
                        {{rreqv.css.is_included}}
                    </div>
                </td>
                <td>
                   <div class="atk-action">
                       <span class="atk-label atk-effect-info">Req.#{{rreqv.id}}</span>
                       <span class="atk-label atk-effect-warning"><strong>{{rreqv.name}}</strong></span>
                   </div>
                    <div class="atk-action atk-size-milli">
                        <span>Project: {{rreqv.project_name}}</span>
                    </div>
                    <div class="atk-action atk-size-milli">
                        <span>Added by {{rreqv.user}}</span>
                    </div>
                    <div class="atk-action atk-box">
                        <span>{{rreqv.descr}}</span>
                    </div>
                </td>
                <td>{{rreqv.estimate}}</td>
                <td>{{rreqv.spent_time_cost}}</td>
                <!--<td>{{rreqv.is_deleted}}</td>-->
                <td class="atk-text-nowrap">
                    <button class="atk-button" ng-click="Requirement.edit($index)">Edit</button>
                    <button class="atk-button atk-effect-danger" ng-confirm-click="Are you sure?" confirmed-click="Requirement.remove($index)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>