<div class="atk-box atk-push requirement-form"  requirement-form>
    <div id="close-button" class="icon-cancel-circled close" ng-click="Requirement.cancel()"></div>
    <div class="atk-cells">
        <div class="atk-col-4 atk-cell atk-padding-small">

            <form class="atk-form">
                <input type="hidden" ng-model="reqv.id" />

                <div class="atk-push-small">
                    <div class="atk-push-small">
                        <label><strong>Name:</strong></label>
                    </div>
                    <input type="text" class="atk-jackscrew" ng-model="reqv.name" />
                </div>

                <div class="atk-push-small">
                    <div class="atk-push-small">
                        <label><strong>Descr:</strong></label>
                    </div>
                    <textarea type="text" ng-model="reqv.descr"></textarea>
                </div>

                <div class="atk-push-small">
                    <div class="atk-push-small">
                        <label><strong>Estimate:</strong></label>
                    </div>
                    <input type="text" class="atk-jackscrew" ng-model="reqv.estimate" />
                </div>

                <div class="atk-cells atk-push-small">
                    <div class="atk-cell atk-jackscrew">
                        <div class="atk-input-radio atk-push-xsmall">
                            <span>
                                <label><strong>Is included:</strong></label>
                                <input type="checkbox" ng-model="reqv.is_included" />
                            </span>
                        </div>
                    </div>
                </div>

                <div class="atk-cells atk-push-small">
                    <div class="atk-cell atk-jackscrew">
                        <div class="atk-input-radio atk-push-xsmall">
                            <span>
                                <label><strong>Is deleted:</strong></label>
                                <input type="checkbox" ng-model="reqv.is_deleted" />
                            </span>
                        </div>
                    </div>
                </div>

                <div class="atk-actions">
                    <button ng-click="Requirement.save(reqv)" class="atk-swatch-green atk-button-small atk-button" >Save</button>
                    <button ng-click="Requirement.cancel()" class="atk-swatch-yellow atk-button-small atk-button" >Cancel</button>
                    <button ng-click="Requirement.delete()" class="atk-swatch-red atk-button-small atk-button" >Delete</button>
                </div>
            </form>

        </div>
        <div class="atk-col-4 atk-cell atk-padding atk-valign-top preview">
            <div class="atk-action">
                <span class="atk-label atk-effect-info">Req#{{reqv.id}}</span>
                <span class="atk-label atk-effect-warning"><strong>{{reqv.name}}</strong></span>
            </div>
            <div class="atk-action atk-box">
                <span>{{reqv.descr}}</span>
            </div>
            <div class="atk-action atk-size-milli">
                <span>Project Id: {{reqv.project_id}}</span>
            </div>
            <div class="atk-action atk-size-milli">
                <span>User: {{reqv.user}}</span>
            </div>
            <div>{{reqv.estimate}}</div>
            <div>{{reqv.is_included}}</div>
            <div>{{reqv.is_deleted}}</div>
        </div>
        <div class="atk-col-4 comments" requirement-comm-task>
            <button ng-click="toggle('comments-view','tasks-view')" class="atk-button-small atk-button">Comments</button>
            <button ng-click="toggle('tasks-view','comments-view')" class="atk-button-small atk-button">Tasks</button>
            <div id="comments-view" class="">
                <ng-include src="comment_list"></ng-include>
            </div>
            <div id="tasks-view" class="ui-helper-hidden">
                <ng-include src="task_list"></ng-include>
            </div>
        </div>
    </div>
</div>







