<div class="atk-box atk-push floating-form"  task-form>
    <div id="close-button" class="icon-cancel-circled close" ng-click="clearForm()"></div>
    <div class="atk-row full-height-box atk-padding-small">
        <div class="atk-col-4 ">
            <div class="atk-box">
                <form class="atk-form">
                    <input type="hidden" ng-model="task.id" />
                    <div class="atk-push-small">
                        <div class="atk-cell atk-valign-top">
                            <div class="atk-label atk-effect-info">ID#{{task.id}}</div>
                        </div>
                    </div>
                    <div class="atk-push-small">
                        <div class="atk-push-small">
                            <div class="atk-push-small">
                                <label for="task_name"><strong>Name:</strong></label>
                            </div>
                            <input type="text" id="task_name" class="atk-jackscrew" ng-model="task.name" />
                        </div>
                        <div class="atk-push-small">
                            <div class="atk-push-small">
                                <label for="task_descr"><strong>Description:</strong></label>
                            </div>
                            <textarea id="task_descr" class="atk-jackscrew" rows="7" resize="none" ng-model="task.descr_original"></textarea>
                        </div>

                        <div class="atk-push-small">
                            <div class="atk-push-small">
                                <label for="task_priority"><strong>Priority:</strong></label>
                            </div>
                            <select id="task_priority" ng-model="priority" ng-options="priority.name for priority in priorities track by priority.name"></select>
                        </div>

                        <div class="atk-push-small">
                            <div class="atk-push-small">
                                <label for="task_type"><strong>Type:</strong></label>
                            </div>
                            <select id="task_type" ng-model="type"  ng-options="type.name for type in types track by type.value"></select>
                        </div>

                        <div class="atk-push-small">
                            <div class="atk-push-small">
                                <label for="task_status"><strong>Status:</strong></label>
                            </div>
                            <select id="task_status" ng-model="status"  ng-options="status.name for status in statuses track by status.name"></select>
                        </div>

                        <div class="atk-push-small">
                            <div class="atk-push-small">
                                <label for="task_estimate"><strong>Estimate:</strong></label>
                            </div>
                            <input type="text" id="task_estimate" class="atk-jackscrew" ng-model="task.estimate" />
                        </div>

                        <div class="atk-push-small">
                            <div class="atk-push-small">
                                <label for="task_requester"><strong>Requester:</strong></label>
                            </div>
                            <select id="task_requester" ng-model="requester"  ng-options="requester.name  for requester in requesters track by requester.id" ng-init="requester = task.requester_id"  ></select>
                        </div>

                        <div class="atk-push-small">
                            <div class="atk-push-small">
                                <label for="task_assigned"><strong>Assigned:</strong></label>
                            </div>
                            <select id="task_assigned" ng-model="assigned"  ng-options="assigned.name  for assigned in assigneds track by assigned.id" ng-init="assigned = task.assigned_id"  ></select>
                        </div>

                    </div>

                    <div class="atk-actions">
                        <button ng-click="save(task,priority,type,status,requester,assigned)" class="atk-swatch-green atk-button-small atk-button" >Save</button>
                        <button ng-click="Task.cancel()" class="atk-swatch-yellow atk-button-small atk-button" >Cancel</button>
                        <button ng-confirm-click="Are you sure?" confirmed-click="Task.delete(task.id)" class="atk-swatch-red atk-button-small atk-button" >Delete</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="atk-col-4">
            <div class="atk-box">
                <ng-include src="time_list"></ng-include>
            </div>
        </div>
    </div>
</div>







