<h3>Time:</h3>
<div class="atk-box-small task_time_box task_time_{{$index+1}}" ng-repeat="time in times track by $index" style="position: relative">

    <div id="delete-task-button-{{time.id}}" class="icon-trash delete-task" ng-confirm-click="Are you sure?" confirmed-click="Time.remove(time.id,task)" style="{{time.allow_del_css}}"></div>

    <!--ID and row index-->
    <div class="atk-cells atk-push small">
        <div class="atk-cell atk-valign-top">
            <div class="atk-label atk-effect-info time_comment_id">{{$index+1}} (ID#{{time.id}})</div>
        </div>
    </div>

    <!--Comment-->
    <div class="atk-swatch-gray atk-box-small inline-edit time_comment_field" editable-textarea="time.comment" onaftersave="Time.save(time, task)">{{time.comment}}</div>

    <!--spent time-->
    <div class="spent_time_row_{{$index+1}}">
        <span class="spent_time_title_{{$index+1}}">Spent time: </span>
        <span class="time_spent_time_field inline-edit" editable-text="time.spent_time" onaftersave="Time.save(time, task)">{{time.spent_time}}</span>
    </div>

    <!--User name-->
    <div>
        <span>User: </span>
        <span class="time_user_field">{{time.user}}</span>
    </div>

    <!--Date-->
    <div>
        <span>Date: </span>
        <span class="time_date_field inline-edit" editable-date="time.date_obj" onaftersave="Time.save(time, task)">{{time.date}}</span>
    </div>
</div>

<div class="atk-box-small" id="time_view" style="{{Time.can_track_time}}">
    <form class="atk-form task_time_form">
        <input type="hidden" ng-model="task.id" />
        <input type="hidden" ng-model="task.user_id" />

        <div class="atk-push-small">
            <div class="atk-push-small">
                <label for="spent_time"><strong class="spent_time_title">Spent Time:</strong></label>
            </div>
            <input type="text" id="spent_time" class="atk-jackscrew" ng-model="time.spent_time" />
        </div>

        <div class="atk-push-small">
            <div class="atk-push-small">
                <label for="time_date"><strong class="date_title">Date:</strong></label>
            </div>
            <input type="text" id="time_date" class="atk-jackscrew" ng-model="time.date" />
        </div>

        <div class="atk-push-small">
            <div class="atk-push-small">
                <label for="time_comment"><strong class="comment_title">Comment:</strong></label>
            </div>
            <textarea id="time_comment" type="text" class="atk-jackscrew" ng-model="time.comment"></textarea>
        </div>

        <div class="atk-push-small">
            <label for="remove_billing"><strong>Remove from billing:</strong></label>
            <input type="checkbox" id="remove_billing" ng-model="time.remove_billing" />
        </div>

        <div class="atk-actions">
            <button ng-click="Time.save(time,task)" class="atk-swatch-green atk-button-small atk-button add_time_button" >Add</button>
        </div>

    </form>
</div>
<script type="text/javascript">
    $('#time_date').datepicker({ dateFormat: "yy-mm-dd" });
</script>