<img src="<?template?>images/intro/changereq.jpg<?/?>" style="float: right" width="400"/>
<h1>Change Requests</h1>

<p>Sometimes during project development client will want to introduce a change in functionality. While some of those change requests would require minimum amount of extra work and can be completed within same budget, more significant changes would require a separate budget.</p>

<p>Contact your Project Manager to find out additional cost of change requests. Those will be created as separate budget. Developers then would have access to both budgets and can work on them simultaneously.</p>

<p>Identification of change requests and separating them ensures that projects are completed on-time and in good condition.</p>

<h3>Resource-based (Agile) budgets</h3>
<p>In many cases, having resource-based budgets means that payment for the budget is based on amount of reported hours. This is typically used in Agile Development and does not require creation of new budget.</p>


