<img src="<?template?>images/intro/concept.jpg<?/?>" style="float: right" width="400"/>
<h1>Introduction to Budgets</h1>

<p>To understand how development is done in <?company?>Agile Technologies<?/?>, it is important to understand a concept of a "Budget". We have made some fancy images to explain it.</p>

<h3>Projects</h3>
<p>Projects can be long and never-ending. It can span acros multiple milestones and consist of many tasks. Multiple vendors could be working on larger projects.</p>

<h3>Budget</h3>
<p>Budget is a part of project which is limited in 3 ways: functionality, timeline and cost.</p>

<h3>Budget-based tracking</h3>
<p>We use a budget-based tracking. Each budget is separatelly estimated and quoted. When new budget is allocated its decided: when budget ends, what are the conditions for closing budget and what payment is used for the budget.</p>
