<img src="{template}images/intro/qa1.jpg{/}" style="float: right" width="400"/>
<h1>Quality Assurance</h1>

<p>When developer team has completed working on a task, they commit all the code and mark task as completed. However it needs to undergo a Q/A before it can be officially market as completed. Our Q/A team will verify the completion of the task and will make sure that functionality matches required and that completed component is relatively stable.</p>

<p>There are additional testing / Q/A periods allocated per-project and they would be focused around testing of a final project, once all tasks are completed. It's possible that task which have been completed and Q/A'ed in milestone build breaks in next build.</p>

<p>When Q/A is completed and has accepted the task completion, it will affect Budget's functional progress.</p>

<img src="{template}images/intro/qa2.jpg{/}" style="float: left" width="400"/>
