<img src="{template}images/intro/tasks.jpg{/}" style="float: right" width="400"/>
<h1>Task</h1>

<p>Tasks are created by Project Manager. Normally tasks would be the same list like client would receive on quote or estimation. Tasks can take from few days up to few weeks to be completed.</p>

<h3>Development Schedule</h3>
<p>Project manager, who have created the tasks can also prioritize them. This makes it easy for developers to see what they need to work on at any given point in time. For clients it's important to understand that software is being build gradually and at early stages it might be impossible to try software out.</p>

