<img src="<?template?>images/intro/timesheets.jpg<?/?>" style="float: right" width="400"/>
<h1>Timesheets</h1>

<p>When developer is focusing on work, he runs a time tracker software. There are several applications supported such as Minco, Toggl, OfficeTime (more can be added through Import filters). Those applications only contain task name, number of minutes worked and date when work was carried out. Each entry like this is called a Timesheet.</p>

<p>Some applications such as Minco can automatically send data into Colubris. Others require manual import. Once timesheets are imported developer needs to associate them with budgets.</p>

<h3>Time Reporting</h3>
<p>When reporting time, developers need to carefully pick time entries, and associate them with client, budget (and sometimes even task, if applicable). Once report is done, the figures on the budgets will update reflecting most current status.</p>

<h3>Reported Time Without Budget</h3>
<p>If developer can't find appropriate budget, he will leave it blank. In this case Project Manager must find out, why the work was carried out without valid budget, was it authorized, how it will be billed and then he can update / create necessary Report entry</p>
