<img src="<?template?>images/intro/tracking.jpg<?/?>" style="float: right" width="400"/>
<h1>Budget Tracking</h1>

<p>Our goal is to complete features assigned to the budget within budget time-frame and do not spend more money than it is allocated. In order to make it work, budgets are tracked by 3 key progress values.</p>

<h3>Monetary tracking</h3>
<p>This figure automatically depends on amount of time reported by development team. If more people are involved the figure grows faster. Over the time this value is saved and can be seen on as a diagram.</p>

<h3>Functional tracking</h3>
<p>Like many other project trackers, we also track feature completion. There are however a distinction, which is Q/A. Often tasks will not be market as complete unless Q/A team accepts them.</p>

<h3>Timeline Tracking</h3>
<p>This value increases every day regardless of any other circumstances. Ideally all the 3 figures should match. It's job of Project Manager to keep them in balance throughout the budget.</p>
