<div class="atk-box atk-push ">
    <div class="atk-table atk-table-bordered">
        <table>
            <thead>
            <tr class="atk-swatch-blue">
                <th>#</th>
                <th>Name</th>
                <th>Descr</th>
                <th>Client</th>
                <th>Demo URL</th>
                <th>Prod URL</th>
                <th>Repository</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in projects track by $index">
                <td>{{$index+1}}</td>
                <td>{{project.name}}</td>
                <td>{{project.descr}}</td>
                <td>{{project.client}}</td>
                <td>{{project.demo_url}}</td>
                <td>{{project.prod_url}}</td>
                <td>{{project.repository}}</td>
                <td class="atk-text-nowrap">
                    <button class="atk-button" ng-click="Client.edit($index)">Edit</button>
                    <button class="atk-button atk-effect-danger" ng-confirm-click="Are you sure?" confirmed-click="Project.remove($index)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="atk-box-small atk-actions atk-align-center paginator" id="projects_paginator">
            <a ng-click="Project.paginate(1);" href="javascript:void(null);" class="itemlits first">&laquo;</a>
            <a ng-click="Project.paginate(prev_page);" href="javascript:void(null);" class="itemlits">&lt;</a>
            <a ng-repeat="paginator in paginators" ng-click="Project.paginate(paginator.name);" href="javascript:void(null);" class="itemlits {{paginator.class}}">{{paginator.name}}</a>
            <a ng-click="Project.paginate(next_page);" href="javascript:void(null);" class="itemlits">&gt;</a>
            <a ng-click="Project.paginate(last_page);" href="javascript:void(null);" class="itemlits last">&raquo;</a>
        </div>
    </div>
</div>