<div class="atk-box atk-push floating-form"  project-form>
    <div id="close-button" class="icon-cancel-circled close" ng-click="clearForm()"></div>
    <div class="atk-row full-height-box atk-padding-small">
        <div class="atk-col-4 ">
            <div class="atk-box">
                <form class="atk-form">
                    <input type="hidden" ng-model="project.id" />
                    <div class="atk-push-small">
                        <div class="atk-cell atk-valign-top">
                            <div class="atk-label atk-effect-info">ID#{{project.id}}</div>
                            <div>Spent time: {{project.spent_time}}</div>
                        </div>
                    </div>
                    <div class="atk-push-small">
                        <div class="atk-push-small">
                            <div class="atk-push-small">
                                <label><strong>Name:</strong></label>
                            </div>
                            <input type="text" id="project_name" class="atk-jackscrew" ng-model="project.name" />
                        </div>
                        <!--<div class="atk-push-small">
                            <div class="atk-push-small">
                                <label><strong>Client:</strong></label>
                            </div>
                            <select id="project_client" ng-model="client"  ng-options="client.name  for client in clients track by client.id" ng-init="client = project.client"  ></select>
                        </div>-->
                        <div class="atk-push-small">
                            <div class="atk-push-small">
                                <label><strong>Description:</strong></label>
                            </div>
                            <textarea class="atk-jackscrew" rows="7" resize="none" ng-model="project.descr" />
                        </div>
                    </div>

                    <div class="atk-actions">
                        <button ng-click="save(project,client)" class="atk-swatch-green atk-button-small atk-button" >Save</button>
                        <button ng-click="Project.cancel()" class="atk-swatch-yellow atk-button-small atk-button" >Cancel</button>
                        <button ng-confirm-click="Are you sure?" confirmed-click="Project.delete(project.id)" class="atk-swatch-red atk-button-small atk-button" >Delete</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="atk-col-4">
            <div class="atk-box">
                <ng-include src="quote_list"></ng-include>
            </div>
        </div>

        <div class="atk-col-4" style="{{can_see_participant_html}}">
            <div class="atk-box">
                <ng-include src="participant_list"></ng-include>
            </div>
        </div>

    </div>
</div>







