<h3>Quotes:</h3>
<div class="atk-push">
    <div class="atk-box-small quote_box" ng-repeat="quote in quotes track by $index" style="position: relative">
        <div id="delete-quote-button-{{$index+1}}" class="icon-trash close-time" ng-confirm-click="Are you sure?" confirmed-click="Quote.remove(quote.id,project)" style="{{quote.allow_del_css}}"></div>
        <div class="atk-cells atk-push small">
            <div class="atk-cell atk-valign-top">
                <div class="atk-label atk-effect-info"><a style="text-decoration:underline;" href="{{quote_url}}/{{quote.id}}" class="quote_name">{{$index+1}}&nbsp;(ID#{{quote.id}})</a></div>
            </div>
            <div class="atk-cell atk-jackscrew">
                <div editable-text="quote.name" onaftersave="Quote.save(quote,project)" class="atk-label atk-effect-warning inline-edit" style="white-space: pre-wrap">{{quote.name}}</div>
            </div>
        </div>
        <div editable-checkbox="quote.is_archived_boolean" e-title="Archived" onaftersave="Quote.save(quote,project)">
            <span data="{{quote.is_archived}}" col-archived col-archived-watch="quote.is_archived" class="inline-edit"></span>
        </div>
        <div><strong class="icon-pencil"> Created by: </strong><span class="quote_user_name">{{quote.user || 'no info' }}</span></div>
        <div><strong class="icon-chat-empty"> Status: </strong>
            <span class="inline-edit" onaftersave="Quote.save(quote,project)" editable-select="quote.status" e-ng-options="s.value as s.text for s in statuses">{{ showStatus(quote) }}</span>
        </div>
        <div style="{{can_see_spent_time}}"><strong class="icon-clock-1"> Estim. time: </strong>{{quote.estimated-time || '0'}}</div>
        <div style="{{can_see_spent_time}}"><strong class="icon-progress-2"> Spent time: </strong>{{quote.spent_time || '0'}}</div>
        <div editable-textarea="quote.general_description" onaftersave="Quote.save(quote,project)" class="atk-swatch-gray atk-box-small quote_descr inline-edit" >{{ quote.general_description || 'no description' }}</div>

        <div><strong class="icon-plus-circled-1"> Created on: </strong>{{quote.created_dts || '---' }}</div>
        <div><strong class="icon-ok-circled"> Deadline: </strong><span class="inline-edit" editable-date="quote.deadline" onaftersave="Quote.save(quote,project)">{{quote.deadline || '---' }}</span></div>
        <div><strong class="icon-attention-circled"> Warranty end: </strong><span class="inline-edit" editable-date="quote.warranty_end" onaftersave="Quote.save(quote,project)">{{quote.warranty_end || '---' }}</span></div>
        <!--<div>Show time to client: {{quote.show_time_to_client}}</div>-->
    </div>
</div>

<div style="{{Project.can_add_quote}}{{show_add_quote_form}}" id="add-quote-wrapper">
    <h3>Add Quote:</h3>
    <div class="atk-box-small" id="quote_view">
        <form class="atk-form add_quote_form">
            <input type="hidden" ng-model="project.id" />

            <div class="atk-push-small">
                <div class="atk-push-small">
                    <label for="quote_name"><strong>Name:</strong></label>
                </div>
                <input type="text" id="quote_name" class="atk-jackscrew" ng-model="quote.name" />
            </div>

            <div class="atk-push-small">
                <div class="atk-push-small">
                    <label for="quote_description"><strong>Description:</strong></label>
                </div>
                <textarea id="quote_description" type="text" class="atk-jackscrew" ng-model="quote.general_description"></textarea>
            </div>

            <div class="atk-actions">
                <button ng-click="Quote.save(quote,project)" class="atk-swatch-green atk-button-small atk-button add_quote_button" >Add</button>
            </div>

        </form>
    </div>
</div>