<form class="atk-form" name="passwords" forms>

    <div class="atk-push-small">
        <div class="atk-push-small">
            <label><strong>Old:</strong></label>
            <input id="old_password" type="password" class="atk-jackscrew" ng-model="account.old_password" />
        </div>

        <div class="atk-push-small">
            <label><strong>New:</strong></label>
            <input id="new_password" type="password" class="atk-jackscrew" ng-model="account.new_password" />
        </div>

        <div class="atk-push-small">
            <label><strong>Verify:</strong></label>
            <input id="verify_password" type="password" class="atk-jackscrew" ng-model="account.verify_password" />
        </div>
    </div>

    <div class="atk-actions">
        <button ng-click="Setting.savePassword(account)" class="atk-swatch-green atk-button-small atk-button" >Change Password</button>
    </div>
</form>







