ul(id="{$_name}" class="{$class}").atk-menu-horizontal
    {rows}{row}
    li(id="{$id}" class="{$class}")
        a(href="{$href}").atk-padding-small.atk-swatch-ink {$label}
    {/}{/}
    {$Content}

