<div class="atk-layout">
    <div class="atk-layout-row">
        <div class="atk-layout-cell atk-swatch-ink">
            <div class="atk-wrapper atk-padding-small">
                <div class="atk-cells atk-text-nowrap atk-cells-gutter">
                    <div class="atk-cell atk-valign-middle atk-jackscrew atk-text-reset">
                        <a href="{public}{/}">
                            <img src="{public}images/logo.png{/}" alt="Agile Toolkit">
                        </a>

                    </div>
                    <div class="atk-cell">{$name}</div>
                    <div class="atk-cell atk-valign-middle">
                        {$Main_Menu}
                    </div>
                    <div class="">{$SubMenu}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="atk-layout-row atk-layout-fluid">
        <div class="atk-layout atk-layout-cell">
            <div class="atk-layout-column atk-swatch-gray">
                {$LeftBar}
            </div>
            <div class="atk-layout-column atk-layout-fluid">
                <div class="atk-padding-small">
                    {$Content}
                </div>
            </div>
            <div class="atk-layout-column atk-swatch-gray">
                {$RightBar}
            </div>
        </div>
    </div>

    <div class="atk-layout-row">
        <div class="atk-layout-cell atk-swatch-ink">
            <div class="atk-wrapper atk-padding">
                {$Footer}
            </div>
        </div>
    </div>
</div>
